# Composer
/vendor/mpdf/mpdf/tmp/
/vendor/mpdf/mpdf/graph_cache/
/vendor/mpdf/mpdf/ttfontdata/

# macOS / editor cruft
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# WP / misc
*.log
# Vendor library metadata that shouldn't be in our repo
vendor/**/.github/
vendor/**/.gitignore
vendor/**/.travis.yml
vendor/**/.gitlab-ci.yml
vendor/**/.editorconfig
# Local reference files (not committed)
_reference/